---
interface Props {
  title: string;
  imageUrl: string;
}

const { title, imageUrl } = Astro.props;
---

<span
  class="relative inline-block my-10 mb-14 mr-4 lg:w-[300px] lg:h-[200px] w-28 h-20 sm:w-36 sm:h-24 md:w-60 md:h-40 md:m-auto
    rounded-tl-[20%] rounded-br-[20%] overflow-hidden group"
>
  <!-- Imagen como pseudo-elemento -->
  <span
    class="absolute inset-0 bg-center bg-cover bg-no-repeat transition-transform duration-500 group-hover:scale-110"
    style={`background-image: url(${imageUrl});`}></span>

  <!-- Texto encima -->
  <span
    class="absolute left-1/2 top-[60%] -translate-x-1/2
           bg-white text-red-400 text-xl font-bold px-15 py-3 rounded shadow z-10 md:w-full"
  >
    {title}
  </span>
</span>
