---
import LinkedIn from "../icons/Linkedin.astro";
import Github from "../icons/Github.astro";
import Mail from "../icons/Mail.astro";
import Instagram from "../icons/instagram.astro";
---

<footer
  class="py-6 bg-gray-500 flex justify-around sm:flex-row flex-col items-center gap-6"
>
  <p class="px-2 py-1.5 text-white">
    © {new Date().getFullYear()} Benjamin Lopez Zigaran. Todos los derechos reservados.
  </p>
  <div class="flex gap-6 px-2">
    <a
      arial-label="LinkedIn de Benjamin Lopez Zigaran"
      href="https://www.linkedin.com/in/benjamin-lopez-zigaran/"
      target="_blank"
      rel="noopener"
      class="hover:scale-110 transition-transform duration-200 rounded-full py-1.5"
    >
      <LinkedIn class="mb-1 size-7 hover:text-red-200 text-white" />
    </a>
    <a
      arial-label="GitHub de Benjamin Lopez Zigaran"
      href="https://github.com/Benjalopezz27"
      target="_blank"
      rel="noopener"
      class="hover:scale-110 transition-transform duration-200 rounded-full py-1.5"
    >
      <Github class="mb-1 size-7 hover:text-red-200 text-white" />
    </a>
    <a
      arial-label="Instagram de Benjamin Lopez Zigaran"
      href="https://www.instagram.com/benjalopezzigaran/"
      target="_blank"
      rel="noopener"
      class="hover:scale-110 transition-transform duration-200 rounded-full py-1.5"
    >
      <Instagram class="mb-1 size-7 hover:text-red-200 text-white" />
    </a>
    <a
      arial-label="Enviar email a Benjamin Lopez Zigaran"
      href="mailto:benjaminlopezzigaran01@gmail.com"
      target="_blank"
      rel="noopener"
      class="hover:scale-105 transition-transform duration-200 rounded-full flex gap-1.5 bg-yellow-100/10 px-3 pt-1.5 pb-1 items-center text-white"
    >
      <Mail class="size-7 text-white" />
      <p class="font-semibold text-white">Contactame</p>
    </a>
  </div>
</footer>
