---
import Arrow from "../icons/arrow.astro";
---

<button
  id="scrollToTopBtn"
  class="hidden fixed bottom-6 right-6 p-3 rounded-full bg-red-300 text-gray-800 shadow-lg
         hover:bg-red-500 transition-all duration-300 ease-in-out"
>
  <Arrow class="size-6" />
</button>

<script>
  const btn = document.getElementById("scrollToTopBtn");

  window.addEventListener("scroll", () => {
    if (!btn) return;
    if (window.scrollY > 200) {
      btn.classList.remove("hidden");
    } else {
      btn.classList.add("hidden");
    }
  });

  if (btn) {
    btn.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  }
</script>
