---
import Info from "../../icons/Info.astro";
const { title, icon: Icon, modalId } = Astro.props;
---

<article
  class="min-h-[16rem] md:min-h-[auto] flex flex-col justify-between w-[100%] md:w-[80%] lg:w-[100%] m-auto text-center gap-2 sm:gap-6 p-3 md:p-2 rounded-3xl bg-white/90 shadow-sm transition-all duration-300 ease-in-out
         hover:-translate-y-1 hover:shadow-md
         border border-white/30 px-6 relative"
>
  <div class="flex flex-col items-center gap-2 flex-grow">
    <div
      class="flex items-center justify-center w-14 h-14 rounded-lg bg-transparent"
    >
      {(<Icon class="w-7 h-7 lg:w-9 lg:h-9 text-red-700" />)}
    </div>

    <h3 class="text-lg md:text-base lg:text-lg font-semibold text-slate-800">
      {title}
    </h3>
  </div>

  <div class="flex justify-end mt-auto">
    <button
      data-modal-target={modalId}
      data-modal-toggle={modalId}
      class="block text-red-700 font-medium text-sm px-3 pb-10 md:pb-1"
      type="button"
    >
      <Info class="w-6 h-6 md:w-7 md:h-7 hover:cursor-pointer" />
    </button>
  </div>
</article>
